img{
    width:110px;
    height:110px;
}
.ImgWrapp{
    width:100%;
    display: flex;
    justify-content: space-around;
    outline: none;
}
.imgBorder{
    border:3px solid red;
    border-radius:20%;
}